
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    @Styles.Render("~/Content/admintablescss")
    @Styles.Render("~/Content/toas")
}



<h1 class="h3 mb-2 text-gray-800">Productos</h1>
<p class="mb-4"></p>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Listado de productos.</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">

            @*<a href="#" class="btn btn-success"><i class="fas fa-plus-circle"></i> Nuevo</a>*@
            <button type="button" id="btnAddProduct" class="btn btn-success"><i class="fas fa-plus-circle"></i> Nuevo </button>

            <div class="modal fade" id="ModalProductAddOrEdit" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true" data-url='@Url.Action("AddOrEdit","Product")'></div>

            <br />
            <br />

            <table class="table table-responsive-sm table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th style="width:70px;">Código</th>
                        <th>Examen</th>
                        <th style="width:120px;">Precio</th>
                        <th style="width:165px;">Fec. Registro</th>
                        <th style="width:90px;">Acciones</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Código</th>
                        <th>Examen</th>
                        <th>Precio</th>
                        <th>Fecha Registro</th>
                        <th>Acciones</th>
                    </tr>
                </tfoot>
                <tbody id="tbProductBody"></tbody>
            </table>
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/admintablesjs")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/toas")
    @Scripts.Render("~/bundles/Product")
}

